<div *ngIf='loggedIn'>
<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <a class="w-100" href="index.html"><img src="./assets/img/logo.png" class="w-100" /></a>
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">

        <li>
          <a href=""> <i class="fa fa-cog"></i> Administración <i class="fa arrow"></i> </a>
          <ul>
            <li>
              <a href="vendedor.html">Vendedor</a>
            </li>
            <li>
              <a href="dispositivo.html">Dispositivo</a>
            </li>
            <li>
              <a href="tipo-vendedor.html">Tipo Vendedor</a>
            </li>

            <li>
              <a href="tipo-vendedor-bodega.html">Tipo Vendedor + Bodega</a>
            </li>
            <li>
              <a href="tipo-vendedor-corte.html">Tipo Vendedor con Corte Precio</a>
            </li>

            <li>
              <a href="razones-noventa.html">Razones de No Venta</a>
            </li>
            <li>
              <a href="parametros.html">Parámetros</a>
            </li>
            <li>
              <a href="usuarios.html">Usuarios</a>
            </li>
          </ul>
        </li>
        <!--/Administracion-->


        <li>
          <a href=""> <i class="fa fa-th-large"></i> Procesos <i class="fa arrow"></i> </a>
          <ul>
            <li>
              <a href="vendedor.html">Carga</a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
</div>