<article class="content dashboard-page">

  <link 
    rel="stylesheet" 
    href="http://gradiente.cl/proyectos/app-ventas/front-mdw-v2/css/hotfix.css">
  
  <section class="section">
    <div class="row sameheight-container">

      <div class="col col-xs-12 col-sm-12 col-md-12 col-xl-12">

        <div class="title-block">
          <h4 class="title">Home</h4>

          <nav class="breadcrumb">
            <span class="breadcrumb-item active">Home</span>
          </nav>

        </div>

        <div class="card card-block mb-3">
          <form role="form">
            <div class="form-group col-xl-4">
              <label for="bodega" class="w-100">Bodega</label>

              <select 
                class="selectpicker bodega w-100"
                (change)="onChangeSelector($event, 'bodega_id')">
                  <option>Todos</option>
                  <option *ngFor="let bodega of bodegas" [value]="bodega.bodega_id" > 
                    {{ bodega.nombre }}
                  </option>
                </select>
            </div>
            <div 
              class="form-group col-xl-4"
              (change)="onChangeSelector($event, 'vendedor_tipo_id')">
              <label for="bodega" class="w-100">Tipo de Vendedor</label>

              <select class="selectpicker tipo w-100">
                <option>Todos</option>
                <option *ngFor="let tipo of vendedoresTipo" [value]="tipo.tipo_id" > 
                    {{ tipo.nombre }} - Tipo {{ tipo.tipo_id}}
                </option>
              </select>
            </div>
            <div class="form-group col-xl-4"> 
              <label for="rut">Rut</label> 
              <input 
                type="text" 
                class="form-control w-100" 
                id="rut" 
                (input)="onChangeSelector($event, 'rut')"
                placeholder=""> </div>
            <div class="form-group col-xl-4"> 
              <label for="nombre">Nombre</label> 
              <input 
                type="text" 
                class="form-control" 
                id="nombre" 
                (input)="onChangeSelector($event, 'nombre')"
                placeholder="">
               </div>
            <div class="form-group col-xl-4"> 
              <label for="tipoVendedor">PIN</label> 
              <input 
                type="text" 
                class="form-control" 
                id="tipoVendedor" 
                (input)="onChangeSelector($event, 'dispositivo_pin')"
                placeholder="">
              </div>
            <div class="form-group col-xl-4 big-check">
              <label for="rut">Solo PIN</label>
              <div>
                <label>
                  <input 
                    class="checkbox" 
                    type="checkbox"
                    name = "soloPin"
                    [(ngModel)]="soloPin"
                    (change)="onCheckBoxFiltro()">
                  <span>&nbsp;</span>
                </label>
              </div>
            </div>
          </form>
        </div>

        <div class="w-100 text-right" style="text-align:right">
          <button 
          id="check-all" 
          href="#" 
          data-checked="false" 
          class="btn rounded w-10 btn-primary white mb-2"
          (click)="onSelectAll()">
            Seleccionar todos
          </button>
        </div>

        <div class="card rounded">
          <table class="table  table-responsive" id="no-more-tables">
            <thead>
              <tr>
                <th class="numeric"></th>
                <th class="numeric">COD.</th>
                <th class="numeric">RUT</th>
                <th class="numeric">Nombre</th>
                <th class="numeric">Clientes</th>
                <th class="numeric">Visitas</th>
                <th class="numeric">Bodega</th>
                <th class="numeric">Tipo</th>
                <th class="numeric">% Desc 1</th>
                <th class="numeric">% Desc 2</th>
                <th class="numeric">PIN</th>
                <th class="numeric">Ver. App</th>
                <th class="numeric">Últ. Acceso</th>
                <th class="numeric">Últ. Cierre</th>
                <th class="numeric">Prox. Cierre</th>
                <th class="numeric">Actualizar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vendedor of pagedItems">

                <td data-title=""><a href="informacion-vendedor.php"><i class="fa fa-pencil"></i></a></td>
                <td data-title="COD.">{{ vendedor.vendedor_id }}</td>
                <td data-title="RUT">{{ vendedor.rut }} - {{ vendedor.digito_verificador}}</td>
                <td data-title="Nombre">{{ vendedor.nombre }}</td>
                <td data-title="Clientes">{{ vendedor.clientes }} </td>
                <td data-title="Visitas">{{ vendedor.visitas }}</td>
                <td data-title="Bodega"><a href="informacion-bodega.php" class="no-bg"> Bodega {{ vendedor.bodega_id }}</a></td>
                <td data-title="Tipo"><a href="informacion-tipo-vendedor.php" class="no-bg">Tipo {{ vendedor.vendedor_tipo_id }}</a></td>
                <td data-title="& Desc 1">{{ vendedor.descuento_1 }}</td>
                <td data-title="% Desc 2">{{ vendedor.descuento_2 }}</td>
                <td data-title="PIN">{{ vendedor.dispositivo_pin }}</td>
                <td data-title="Ver. App">{{ vendedor.version_app }}</td>
                <td data-title="Últ. Acceso">{{ vendedor.ultimo_acceso | date: 'dd/MM/yyyy'}}</td>
                <td data-title="Últ. Cierre">{{ vendedor.ultimo_cierre | date: 'dd/MM/yyyy'}}</td>
                <td data-title="Prox. Cierre">{{ vendedor.proximo_cierre | date: 'dd/MM/yyyy'}}</td>
                <td data-title="Actualizar">
                  <div class="form-group col-xl-4">
                    <div>
                      <label>
                        <input 
                          class="checkbox" 
                          type="checkbox"
                          id="{{ vendedor.id }}"
                          [checked]="vendedor.actualizar"
                          (click)="onCheckBoxActualizar($event)">
                        <span>&nbsp;</span>
                      </label>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
          <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">Primera</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Siguiente</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Última</a>
                </li>
            </ul>
        </div>
        <button 
          id="notificar" 
          href="#" 
          [disabled]="buttonLock"
          class="btn rounded w-10 btn-primary white"
          (click)="onNotify()">
          Guardar selección de vendedores a notificar
        </button>
      </div>
    </div>
  </section>

</article>